:root {
  --background: #2d6feb;
  --font: #222;
  --border: #333;
  --screen: #eee;
  --calculator: #292828;
  --btn: #eee;
  --btn-hover: #ddd;
  --btn-active: #ccc;
  --btn-red: rgb(253, 84, 84);
  --btn-red-hover: rgb(255, 45, 45);
  --btn-red-active: rgb(161, 51, 51);
  --btn-blue: rgb(52, 138, 250);
  --btn-blue-hover: rgb(36, 129, 250);
  --btn-blue-active: rgb(26, 72, 133);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  /* footer support */
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--background);
  background-image: url('images/calculations.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--font);
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  /* footer support */
  margin-bottom: 100px;
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

/* MAIN */

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  min-height: 500px;
  padding: 10px;
  margin-top: 50px;
}

.calculator {
  width: 400px;
  border: 2px var(--border) solid;
  border-radius: 5px;
  padding: 20px;
  background-color: var(--calculator);
}

.screen {
  padding: 10px 20px;
  border: 2px var(--border) solid;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: var(--screen);
  text-align: right;
  word-wrap: break-word;
  word-break: break-all;
}

.screen-last {
  min-height: 32px;
  font-size: 20px;
}

.screen-current {
  min-height: 64px;
  font-size: 40px;
}

.buttons-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.span-2 {
  grid-column: span 2;
}

#clearBtn{
  font-size: 32px;
}

#deleteBtn{
  font-size: 32px;
}


.btn {
  padding: 20px;
  border: 2px var(--border) solid;
  border-radius: 2px;
  background-color: var(--btn);
  font-size: 20px;
}

.btn:hover {
  background-color: var(--btn-hover);
  font-weight: 700;
  
}

.btn:active {
  background-color: var(--btn-active);
}

.btn-red {
  background-color: var(--btn-red);
}

.btn-red:hover {
  background-color: var(--btn-red-hover);
}

.btn-red:active {
  background-color: var(--btn-red-active);
}

.btn-blue {
  background-color: var(--btn-blue);
}

.btn-blue:hover {
  background-color: var(--btn-blue-hover);
}

.btn-blue:active {
  background-color: var(--btn-blue-active);
}

.oper_btn{
  background-color: rgb(138, 255, 196);
}

.oper_btn:hover{
  background-color: rgb(46, 255, 150);
}

.oper_btn:active{
  background-color: rgb(54, 133, 93);
}

.equal_btn{
  background-color: #ffea8f;
}

.equal_btn:hover{
  background-color: #fad948;
}

.equal_btn:active{
  background-color: #998940;
}

/* Disables input spinners in calc screen */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #222;
  text-shadow: 1px 2px #919090;
}

.fa-github {
  color: var(--font);
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
